body{
    background-color: #85DCBB;
    font: 1.2em "Fira Sans", sans-serif;
}

#loginform{
    position:absolute;
    left: 45%;
    top: 45%;
    border: solid 1px;
    padding: 20px;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    background-color: #41B3A3;
}

.form-group{
    display: flex;
    justify-content: space-between;
}

input{
    margin-left: 10px;
    border-radius: 5px;
    border: solid 1px
}

input[type=text],input[type=password]{
    background-color: #EEEEEE;
}

input[type=submit]{
    width: 100px;
    background-color: #EEEEEE;
}

#submitdiv{
    justify-content:flex-end;
    margin-top: 10px
}